.gradle
.idea
build
gradle
lib
src/test/java/unittest/csv40
*.gradle
README.md
gradlew
gradlew.bat

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/*
/nbproject/private/
/nbbuild/